<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Epicor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Epicor.Properties.Settings>
            <setting name="WebServiceCompanyID" serializeAs="String">
                <value>VTLB</value>
            </setting>
            <setting name="CustomerServicePage" serializeAs="String">
                <value>customerservice.asmx</value>
            </setting>
            <setting name="PartServicePage" serializeAs="String">
                <value>partservice.asmx</value>
            </setting>
            <setting name="WarrantyRegistrationServicePage" serializeAs="String">
                <value>ud01service.asmx</value>
            </setting>
            <setting name="WarrantyClaimServicePage" serializeAs="String">
                <value>ud100service.asmx</value>
            </setting>
            <setting name="SalesRepServicePage" serializeAs="String">
                <value>salesrepservice.asmx</value>
            </setting>
            <setting name="AttachmentServicePage" serializeAs="String">
                <value>ud03service.asmx</value>
            </setting>
            <setting name="CampaignServicePage" serializeAs="String">
                <value>ud02service.asmx</value>
            </setting>
            <setting name="EpicorAPIUrl" serializeAs="String">
                <value>https://erpappserv001.leeboy.com/EpicorERP10/api/v1/{0}/</value>
            </setting>
            <setting name="EpicorAPIUserName" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="EpicorAPIPassword" serializeAs="String">
                <value>wh1sk3y</value>
            </setting>
        </Epicor.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.19.0.11114" newVersion="6.19.0.11114" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.19.0.11114" newVersion="6.19.0.11114" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.19.0.11114" newVersion="6.19.0.11114" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
